# Australian Open Predicition

## Data Loading

In [3]:
# Import libraries
import os
import numpy as np
import pandas as pd

In [25]:
# Get current working directory
src =  os.getcwd()
# Load data for male players
maleDF = pd.read_csv(src+'\\data\\ATP_matches.csv')
# Load data for female players
femaleDF = pd.read_csv(src+'\\data\\WTA_matches.csv')

# Display tensor sizes
print("Male data: \n" + str(maleDF.shape[0]) + " Observations of " + str(maleDF.shape[1]) + " Variables\n")
print("Female Data: \n" + str(femaleDF.shape[0]) + " Observations of " + str(femaleDF.shape[1]) + " Variables")

Male data:
20807 Observations of 35 Variables

Female Data:
13906 Observations of 35 Variables

In [26]:
# Show top of male dataframe
maleDF.head()

,Winner,Loser,Tournament,Tournament_Date,Court_Surface,Round_Description,Winner_Rank,Loser_Rank,Retirement_Ind,Winner_Sets_Won,...,Loser_DoubleFaults,Loser_FirstServes_Won,Loser_FirstServes_In,Loser_SecondServes_Won,Loser_SecondServes_In,Loser_BreakPoints_Won,Loser_BreakPoints,Loser_ReturnPoints_Won,Loser_ReturnPoints_Faced,Loser_TotalPoints_Won
0,Edouard Roger-Vasselin,Eric Prodon,Chennai,2-Jan-12,Hard,First Round,106,97,0,2,...,3,21,33,13,26,1,3,15,49,49
1,Dudi Sela,Fabio Fognini,Chennai,2-Jan-12,Hard,First Round,83,48,0,2,...,4,17,32,5,26,0,1,8,33,30
2,Go Soeda,Frederico Gil,Chennai,2-Jan-12,Hard,First Round,120,102,0,2,...,2,45,70,18,35,2,4,36,103,99
3,Yuki Bhambri,Karol Beck,Chennai,2-Jan-12,Hard,First Round,345,101,0,2,...,1,15,33,13,29,2,3,15,46,43
4,Yuichi Sugita,Olivier Rochus,Chennai,2-Jan-12,Hard,First Round,235,67,0,2,...,0,19,32,13,22,1,7,30,78,62

In [29]:
# Show top of female dataframe
femaleDF.head()

,Winner,Loser,Tournament,Tournament_Date,Court_Surface,Round_Description,Winner_Rank,Loser_Rank,Retirement_Ind,Winner_Sets_Won,...,Loser_DoubleFaults,Loser_FirstServes_Won,Loser_FirstServes_In,Loser_SecondServes_Won,Loser_SecondServes_In,Loser_BreakPoints_Won,Loser_BreakPoints,Loser_ReturnPoints_Won,Loser_ReturnPoints_Faced,Loser_TotalPoints_Won
0,Johanna Larsson,Lourdes Dominguez-Lino,Auckland,1-Jan-14,Hard,First Round,84,69,0.0,2,...,4,16,32,13,33,2,8,24,62,53
1,Ana Konjuh,Roberta Vinci,Auckland,1-Jan-14,Hard,First Round,259,14,0.0,2,...,1,34,65,10,23,5,6,30,68,74
2,Ayumi Morita,Lucie Safarova,Auckland,1-Jan-14,Hard,First Round,60,29,0.0,2,...,3,21,32,12,32,3,5,26,68,59
3,Venus Williams,Andrea Hlavackova,Auckland,1-Jan-14,Hard,First Round,47,134,0.0,2,...,4,23,34,12,28,2,6,30,82,65
4,Julia Goerges,Karin Knapp,Auckland,1-Jan-14,Hard,First Round,72,41,0.0,2,...,4,52,70,30,58,2,2,28,102,110